.grid-col-3of10, .grid-col-2of3, .grid-col-1of3 {
  width: 100%;
}

.grid-col-2.5of10 {
  width: 70%;
}

.grid-col-3of3 {
  width:10%;
}

.grid-rightmenubar-2of10{
  width:auto;
  }

*, *:after, *:before {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.grid:after {
    content: "";
    display: block;
    clear: both;
}



@media (min-width: 800px) {
  .grid-col-3of10 {
    width: 30%;
  }
  .grid-col-2.5of10 {
      width: 70%;
  }
  .grid-col-2.5of10:first-of-type {
    padding-right: 0.5em;
  }

  .grid-col-2.5of10:last-of-type {
    padding-left: 0.5em;
  }

/*  .col-2-3 {
    float: left;
    width: 66.66%;
  }
  .col-1-3 {
    float: right;
    width: 33.33%;
  }*/

}

@media (min-width: 800px) {
.grid-col-2of3 {
    width: 70%;

}
.grid-col-1of3 {
    width: 50%;
}

.grid-col-3of3 {
    width: 10%;
}

}



