[class^='grid-col-'] {
    float: left;
    padding: 0;
}

[class^='grid-rightmenubar-'] {
    float: right;
    padding: 0;
}


/*
  STYLE GUIDE STYLING 
  Default styling for the style guide 
*/

body {

  font-family: "Roboto", "Lato", sans-serif;
  -webkit-font-smoothing: antialiased;
  height: auto;
/*   -webkit-transition: opacity 1s ease-in-out;
  -moz-transition: opacity 1s ease-in-out;
  -o-transition: opacity 1s ease-in-out;
  transition: opacity 1s ease-in-out;*/
}


div {
  display: block;
}

nav {
  font-family: "Lato", sans-serif;
  display: block;
  margin-bottom: 1em;
  padding-bottom: 1em;
  list-style-type: none;

}

nav>ul {
  list-style: none;
  padding-left: 10px;
}


.img {
  display: block;
  height: auto; 
  max-width: 100%;
}

header {
	font-family: "P22 Underground";
    width: 100%;
    height: 98px;
    /*position: fixed;*/
    top: 0;
    left: 0;
    margin: 0;
    padding: 0;
    clear: both;
    z-index: 50;
    display: block;
  }

a#main_logo {
    display: block;
    font-size: 2rem;
    font-weight: bold;
    position: absolute;
    top: 15px;
    left: 45%;
    padding: 0;
    text-decoration: none;
    color: black;
}


ul li {
  text-decoration: none;
  list-style-type: none;
}

nav a, nav a:visited  {
  font-family: "Roboto", "Lato", sans-serif;
  text-decoration: none;
  color: #333;

}

nav a:hover, nav a:active, nav a:focus {
  color: black;  
  text-decoration: underline;

}

ul {
      /*display: block;*/
    -webkit-margin-before: 0.2em;
    -webkit-margin-after: 0.9em;
    -webkit-margin-start: 0px;
    -webkit-margin-end: 0px;
    -webkit-padding-start: 40px;
}

li {
  display: list-item;
  text-align: -webkit-match-parent;
}

.sublist {
  padding-left: 0;
  /*position: fixed;*/
}

.rightmenubar {
	padding: 0 0.9em 0 0;	
}

.rightmenubar:hover {
	text-decoration: underline;
}

.leftmenubar ul{
    display: none;
}

.opened ul{
    display: block;
}

#checkbox{
     opacity: 0;
}

#checkbox:checked + ul {
	display: block;
	position: relative;
}

/*--------------------------product list------------------------------------*/
[class^='grid-col-2.5of10'] {
    float: right;
    padding: 3em 3em 3em 3em;
    /*border: 1px solid #333;*/
    margin:  0em 1em 1em 0em;
    top: -240px;
    position:relative;
}



figure{
	margin: 0;
  /*display: inline-block;*/
  /*position: relative;*/
}


figcaption {
	font-size: 0.8rem;
  text-align: center;
}

.price {
  text-align: center;
  font-size: 0.9rem;
  margin-top: 0.3rem;
  font-weight: bold;
}

.price:hover {
  /*font-size: 0.9rem;*/
}


.col img:hover {
    opacity: 0.7;
    -webkit-transition: opacity 0.5s ease-out;
    transition: opacity 0.5s ease-out;
}

.product_text {
  color: black;
  text-decoration: none;
}

